# Entornos virtuales de Python
venv/
.env

# pycache
__pycache__/

# Archivos de configuración sensibles
*.env

# Dependencias de Node.js
node_modules/

# Archivos de construcción
dist/
build/

# Archivos de logs
*.log

# Archivos temporales
tmp/
temp/

# Archivos del sistema operativo
.DS_Store
Thumbs.db

# Configuraciones de entornos de desarrollo
.vscode/

# Archivos de migraciones de Django
**/migrations/*.pyc
**/migrations/*.pyo
**/migrations/*.pyd
**/migrations/__pycache__/
.env
